<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
<b><h2> Данные пользователя </h2></b>
<table>
  <tr>
    <th th:width="100">Имя</th>
    <th th:width="50">Возраст</th>
    <th th:width="100">E-mail</th>
    <th th:width="100">Пароль</th>
  </tr>


  <td th:utext="${user.getName()}">Name</td>
  <td th:utext="${user.getAge()}">Age</td>
  <td th:utext="${user.getEmail}">E-mail</td>
  <td th:utext="${user.getPassword}">Password</td>

</table>
<br>
<form th:action="@{/logout}" th:method="POST">
  <button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>
</form>
</body>
</html>